# The ci-fairy base image. We build a base image that we can bump independently
# via the tag, ci-fairy itself gets layered on top with each commit.
# This image is private to ci-templates.
ci-fairy-base-image:
  extends:
    - .fdo.container-build@{{base_distro}}@x86_64
  stage: ci-fairy-base-image
  variables:
    FDO_DISTRIBUTION_PACKAGES: '{{packages}}'
    FDO_DISTRIBUTION_TAG: {{tag}}
    FDO_REPO_SUFFIX: ci-fairy
  needs:
    - {{base_distro}}:{{base_distro_version}}@container-build@x86_64

.ci-fairy-tag:
  variables:
    FDO_DISTRIBUTION_TAG: {{sha256sum(sha_sources)}}

# The actual ci-fairy image with ci-fairy installed
# This image uses the sha of the ci-fairy script itself as tag.
ci-fairy-image:
  extends:
    - .ci-fairy-tag
    - .fdo.container-build@{{base_distro}}@x86_64
  stage: ci-fairy-image
  variables:
    FDO_BASE_IMAGE: $CI_REGISTRY_IMAGE/ci-fairy:{{tag}}
    FDO_DISTRIBUTION_EXEC: 'pip install .'
    FDO_REPO_SUFFIX: ci-fairy
  needs:
    - ci-fairy-base-image


.ci-fairy-local-image:
  extends:
    - .ci-fairy-tag
  image: $CI_REGISTRY_IMAGE/ci-fairy:$FDO_DISTRIBUTION_TAG

#
# Publish our ci-fairy image on quay.io
#
publish ci-fairy to {{ci_templates_registry}}:
  extends:
    - .ci-fairy-tag
    - .publish.template
  variables:
    LOCAL_IMAGE_SPEC:   ci-fairy:$FDO_DISTRIBUTION_TAG
    DISTANT_IMAGE_SPEC: ci-fairy-$FDO_DISTRIBUTION_TAG
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_PROJECT_PATH == "freedesktop/ci-templates"'
